body {
  margin: 0px;
}

h2 {
  margin: 0;
  padding: 0;
}

p, li {
  margin: 5px 0px;
}

ul, ol {
  margin-top: 0;
  padding-left: 14px;
}

a {
  text-decoration: none;
}

.non-decoration__link {
  color: #000;
}

.cv-document {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: arial, sans-serif, tahoma;
  font-size: 10pt;
}

.cv-page {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 1rem;
  vertical-align: baseline;
  text-decoration: none;
  width: 900px;
  min-height: 900px;
  margin: 0 auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  position: relative;

  padding: 40px;
  padding-left: 120px;
  box-sizing: border-box;
}

.section {
  margin-bottom: 36px;
  position: relative;
}

.section-content {
  border-top: 2px solid #aaa;
  padding-top: 24px;
}

.no-border {
  border: none;
}

#full-name {
  color: #253f68;
  font-size: 36px;
}

.Personal-photo {
  position: absolute;
  right: 0;
  top: -5px;
}

.Personal-photo > img {
  width: 120px;
}

.section-content__table {
  display: grid;
  gap: 2px;
}

.section-content__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 200px auto;
  padding-bottom: 8px;
}

.border-bottom {
  border-bottom: 1px solid #eee;
}

.custom-unorder-list {
  margin-top: 0;
  padding-left: 10px;
  list-style-type: "- ";
}

.info-row {
  grid-template-columns: 110px auto;
}

.info-row p {
  margin: 0;
}

.title {
  font-weight: 600;
}

.contact-list {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}
